@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Fancy heading gradients
 */

@supports (background-clip: text) {
  .fancyHeading {
    background-image: linear-gradient(
      rgb(10, 10, 10) 10%,
      rgba(10, 10, 10, 0.68)
    );
    background-clip: text;
    color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    .fancyHeading {
      background-image: linear-gradient(
        rgb(245, 245, 245) 10%,
        rgba(245, 245, 245, 0.68)
      );
      background-clip: text;
      color: transparent;
    }
  }
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
  }
}
